@import "../../variables.module.scss";

.background {
  margin: 0 auto;
  height: calc(100vh - 37vh);
  display: flex;
  align-items: center;
  justify-content: center;

  .feedback {
    border-radius: 0.5rem;
    background-color: $soft-grey;
    border: 2px solid $soft-grey;
    opacity: 0.9;
    height: 200px;
    color: $black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: "Antonio", sans-serif;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    p {
      text-align: center;
      padding: 2em;
      font-size: 14px;
      line-height: 1rem;
      font-style: italic;
    }
  }
}
