$dk-blue: #01335F;
$blue: #00A2CF;
$aqua: #77B4C3;
$off-white: #F4F3F4;
$bright-white: #FFFFFF;
$dark-grey-hover: #282828;
$black: #111111;
$soft-grey: #f5f5f5d6;
$grey: #E0DEDC;

$base-spacing: 5px;

