* {
    background-color: rgb(236, 236, 236);
  }


.french-parent {
    position: relative;
    left: 500px;
    top: 20px;
    width: 300px;
    height: 200px;
    margin: 0;
    display: block;
}

.french-flag-blue {
    height: 200px;
    width: 100px;
    background-color: #0055a4;
    position: absolute;
    left: 0px;
    top: 0px;
}

.french-flag-white {
    height: 200px;
    width: 100px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 0px;
}

.french-flag-red {
    height: 200px;
    width: 100px;
    background-color: #EF4135;
    position: absolute;
    left: 200px;
    top: 0px;
}


.french-flag:hover {
background-color:#169b62;
transition: 0.4s ease;
}

.french-flag:hover {
    background-color: #ff8200;
    transition: 0.4s ease;
}

.german-parent {
    position: relative;
    top: 50px;
    left: 500px;
    width: 300px;
    height: 199.8px;
    padding: 0;
    margin: 0;
    display: inline-block;
}


.german-flag-black {
    height: 66.6px;
    width: 300px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
}

.german-flag-red {
    height: 66.6px;
    width: 300px;
    background-color: #DA291C;
    position: absolute;
    top: 66.6px;
    left: 0px;

}

.german-flag-yellow {
    height: 66.6px;
    width: 300px;
    background-color: #FFCD00;
    position: absolute;
    top: 133.2px;
    left: 0px;
}


.german-flag:hover {
    background-color: #C8102E;
    transition: 0.4s ease;
}

.german-flag:hover {
    background-color: white;
    transition: 0.4s ease;
}

.german-flag:hover {
    background-color: #00843d;
    transition: 0.4s ease;
}