// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colours 
$color-primary: #28527a;         //update this
$color-black: #333333;           //update this
$color-white: #fafafa;           //update this


