// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Variables
$font-body: "Roboto" , sans-serif;              //update this
$font-display: "Dancing Script" , cursive;      //update this

// Colours 
$color-primary: #28527a;         //update this
$color-black: #333333;           //update this
$color-white: #fafafa;           //update this

// universal reset
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font-body;    //check this
    color: $color-black;        //check this
}

