// -----------------------------------------------------------------------------
// This file contains all styles related to the components.
// -----------------------------------------------------------------------------

// logos
.logo-top {
    width: auto;
    height: 15vh;
    padding-top: 40px;
    }
    
    .logo-hero {
        width: auto;
        height: 50vh;
    }
    
    .logo-bkgrnd-fade {
        position: absolute;
        left: 55.9%;
        right: -37.01%;
        top: 211.04%;
        bottom: -217.89%;
        opacity: 0.2;
        /*z-index: ask the coaches about this ;*/
    }
    
    .logo-footer{
        width: 15vh;
        height: 15vh;
        padding-bottom: 20px;
    }

    // buttons 
    .button-up {
        height: 60px;
        width: 60px;
        background-color: transparent;
        border: solid whitesmoke;
        border-width: 1px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
    }
    
    .arrow {
        border: solid whitesmoke;
        border-width: 0 1px 1px 0;
        padding: 8px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        display: inline-block;
        /*might need a help with this!*/
    }
    