// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the site/application.
// -----------------------------------------------------------------------------

.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #415E6C 1.65%, #87B0B9 100%);
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    }


// nav 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 100%;
    height: 15vh;
    padding: 50px 40px;
    font-size: 14px;
}

.nav {
    text-decoration: none;
    padding: 0px 40px;
    color: whitesmoke;
}


// about section
.container-about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 260px);
    padding: 80px 80px 0px 80px;
    grid-gap: 20px;
    height: auto;
    width: 75%;
    margin: auto; 
}



// main container
.container-content {
        width: 100%;
        height: 760vh;
        background: whitesmoke;
    }


// footer styling
.container-footer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #415E6C 1.65%, #87B0B9 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.social-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    height: 30vh;
    margin: 0px 15px;
    font-size: 24px;
}

.socials {
    text-decoration: none;
    padding: 0px 40px;
    color: whitesmoke;
}

