// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/*font-regular*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

/*font-script*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Source+Serif+Pro:ital,wght@0,200;1,200&display=swap');


/// Regular font family
$font-body: "Montserrat", sans-serif;

/// Regular font size 
$font-size-regular: 14px;

/// Script font family
$font-script: "Source Serif Pro", serif;

/// Header font size
$font-size-header: 36px;

/// Title font size 
$font-size-title: 144px;

/// colour - white
$color-white: #f5f5f5;

/// colour - black
$color-black: #333333;

/// colour - linear gradient
$color-gradient: linear-gradient(90deg, #415E6C 1.65%, #87B0B9 100%); 

///colour - green transparent
$color-green: rgba(135, 176, 185, 0.1);

a:link,
a:visited {
    text-decoration: none;
}


/*
/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

*/