/*import partials*/
/*font-regular*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
/*font-script*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Source+Serif+Pro:ital,wght@0,200;1,200&display=swap");
a:link,
a:visited {
  text-decoration: none;
}

/*
/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*
@media (min-width)

@media screen and (max-width: 550px) {
    section {
       grid-template-columns: 1fr; //all divs will stack, one on top of each other once the screen size is reduced to 550px or less
    }
}
*/