/*import partials*/
/*font-regular*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
/*font-script*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Source+Serif+Pro:ital,wght@0,200;1,200&display=swap");
a:link,
a:visited {
  text-decoration: none;
}

/*
/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header__logo-top {
  width: auto;
  height: 15vh;
  padding-top: 40px;
}
.header__logo-hero {
  width: auto;
  height: 50vh;
}
.header__icon {
  border: solid #f5f5f5;
  border-width: 0 1px 1px 0;
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 92%;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.logo-bkgrnd-fade {
  height: 1014px;
  position: absolute;
  top: 211.04%;
  right: -6%;
  opacity: 0.2;
  /*z-index: ask the coaches about this ;*/
}

.section-footer__logo-footer {
  width: 15vh;
  height: 15vh;
  padding-bottom: 20px;
}
.section-footer__button-up {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: solid #f5f5f5;
  border-width: 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-footer__arrow {
  border: solid #f5f5f5;
  border-width: 0 1px 1px 0;
  padding: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  display: inline-block;
}

/*  .scroll-wrapper {
            display: flex;
            justify-content: flex-end;
            position: sticky;
            top: 0;
        }
        .scroll-element {
            writing-mode: vertical-rl;
            display: flex;
            align-items: center;
        }
        .scroll {
            text-transform: uppercase;
            font-size: $font-size-regular;
            font-weight: 400;
            color: $color-black;
            letter-spacing: 0.2em;
            padding: 12px;
        }
        .scroll-line {
            height: 120px;
            background: $color-black;
            width: 1px;
        } 
*/
.nav-project__line {
  height: 1px;
  background: #000000;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #415E6C 1.65%, #87B0B9 100%);
}
.header__top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
  height: 15vh;
  padding: 50px 40px;
  font-size: 14px;
}
.header__container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh;
}
.header__nav {
  text-decoration: none;
  padding: 0px 40px;
  color: #f5f5f5;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 260px);
  padding: 0px 80px 60px 80px;
  grid-gap: 20px;
  height: auto;
  width: 75%;
  margin: auto;
}
.intro__h1 {
  transform: rotate(-90deg);
  color: #000000;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: none;
  margin: auto;
  padding: 0px;
}
.intro__strong {
  font-weight: bold;
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
}
.intro__p {
  color: #000000;
  font-size: 14px;
  text-align: center;
  margin: auto;
  line-height: 1.75;
}
.intro__img {
  width: 32vh;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
}

.main-content {
  width: 100%;
  height: 720vh;
  background: #f5f5f5;
}

.section-footer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #415E6C 1.65%, #87B0B9 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section-footer__social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 30vh;
  margin: 0px 15px;
  font-size: 24px;
}
.section-footer__socials {
  text-decoration: none;
  padding: 0px 40px;
  color: #f5f5f5;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px 60px 350px;
  grid-gap: 10px;
  background-color: rgba(135, 176, 185, 0.1);
  width: 85vw;
  margin: auto;
  padding: 20px;
  margin-bottom: 180px;
}
.skills__p-heading {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 10px;
}
.skills__p-heading-2 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 10px;
}
.skills__p-heading-3 {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 10px;
}
.skills__p-heading-4 {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 10px;
}
.skills__p-description {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 10px;
}
.skills__p-description-2 {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 10px;
}
.skills__p-description-3 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 10px;
}
.skills__p-description-4 {
  grid-column-start: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 10px;
}

.nav-project {
  display: grid;
  background-color: rgba(135, 176, 185, 0.1);
  width: 25vw;
  grid-template-columns: 1fr 4fr;
  margin: 40px 100px;
}

.section-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(50, 50px);
  grid-row-gap: 10px;
  width: 60vw;
  margin: auto;
}
.section-projects__fig1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}
.section-projects__fig2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 17;
}
.section-projects__fig3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 19;
  grid-row-end: 26;
}
.section-projects__fig4 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 28;
  grid-row-end: 35;
}
.section-projects__fig5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 37;
  grid-row-end: 44;
}

figure {
  width: auto;
  height: auto;
  background-color: rgba(135, 176, 185, 0.1);
}

.section-projects__h3 {
  grid-column-start: 4;
  grid-row-start: 1;
  padding: 10px;
}
.section-projects__h4 {
  grid-column-start: 4;
  grid-row-start: 2;
  padding: 10px;
}
.section-projects__figcaption1 {
  grid-column-start: 4;
  grid-row-start: 3;
  padding: 10px;
}
.section-projects__h3-prj2 {
  grid-column-start: 1;
  grid-row-start: 10;
  padding: 10px;
}
.section-projects__h4-prj2 {
  grid-column-start: 1;
  grid-row-start: 11;
  padding: 10px;
}
.section-projects__figcaption2 {
  grid-column-start: 1;
  grid-row-start: 12;
  padding: 10px;
}
.section-projects__h3-prj3 {
  grid-column-start: 4;
  grid-row-start: 19;
  padding: 10px;
}
.section-projects__h4-prj3 {
  grid-column-start: 4;
  grid-row-start: 20;
  padding: 10px;
}
.section-projects__figcaption3 {
  grid-column-start: 4;
  grid-row-start: 21;
  padding: 10px;
}
.section-projects__h3-prj4 {
  grid-column-start: 1;
  grid-row-start: 28;
  padding: 10px;
}
.section-projects__h4-prj4 {
  grid-column-start: 1;
  grid-row-start: 29;
  padding: 10px;
}
.section-projects__figcaption4 {
  grid-column-start: 1;
  grid-row-start: 30;
  padding: 10px;
}
.section-projects__h3-prj5 {
  grid-column-start: 4;
  grid-row-start: 37;
  padding: 10px;
}
.section-projects__h4-prj5 {
  grid-column-start: 4;
  grid-row-start: 38;
  padding: 10px;
}
.section-projects__figcaption5 {
  grid-column-start: 4;
  grid-row-start: 39;
  padding: 10px;
}

.header__hero-header {
  padding: 40px 20px;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 10;
  text-transform: lowercase;
  font-style: italic;
  color: #f5f5f5;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 144px;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  margin: 100px 60px 80px 60px;
}

h3 {
  color: #000000;
}

h4 {
  color: #000000;
}

h5 {
  font-family: "Source Serif Pro", serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  color: #f5f5f5;
}

.section-footer__h6 {
  font-size: 10px;
  color: #f5f5f5;
  text-align: center;
  background-color: transparent;
}

.skills__p-number {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  color: #000000;
  text-align: left;
}
.skills__p-heading {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
}
.skills__p-heading-2 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
}
.skills__p-heading-3 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
}
.skills__p-heading-4 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
}
.skills__p-description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.75;
}
.skills__p-description-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.75;
}
.skills__p-description-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.75;
}
.skills__p-description-4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.75;
}

.nav-project__title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-style: italic;
  margin: 25px;
  text-align: left;
}
.nav-project__span {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: bold;
}
.nav-project__number {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 1000;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: center;
  color: #439A86;
}
.nav-project__heading {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.section-projects__h3 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
}
.section-projects__h3-prj2 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
}
.section-projects__h3-prj3 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
}
.section-projects__h3-prj4 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
}
.section-projects__h3-prj5 {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
}
.section-projects__h4 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
.section-projects__h4-prj2 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
.section-projects__h4-prj3 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
.section-projects__h4-prj4 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
.section-projects__h4-prj5 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
.section-projects__figcaption {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.section-projects__figcaption2 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.section-projects__figcaption3 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.section-projects__figcaption4 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.section-projects__figcaption5 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}