/*import partials*/
@import './base';
@import './components';
@import './layout';
@import './fonts';


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 100%;
    height: 15vh;
    padding: 50px 40px;
    font-size: 14px;
}

.nav {
    text-decoration: none;
    padding: 0px 40px;
    color: whitesmoke;
}

.container-hero {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10vh;
}

.logo-top {
width: auto;
height: 15vh;
padding-top: 40px;
}

.logo-hero {
    width: auto;
    height: 50vh;
}

.logo-bkgrnd-fade {
    position: absolute;
    left: 55.9%;
    right: -37.01%;
    top: 211.04%;
    bottom: -217.89%;
    opacity: 0.2;
    /*z-index: ask the coaches about this ;*/
}

h1 {
   padding: 40px 20px;
   font-family: 'Source Serif Pro', serif;
   font-size: 20px;
   letter-spacing: .1em;
   font-weight: 10;
   text-transform: lowercase;
   font-style: italic;
   color: whitesmoke;
}

.about {
    transform: rotate(-90deg);
    color: #333333;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: none;
    margin: auto;
    padding: 0px;
}

strong {
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
    font-size: 36px;
  }

h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 144px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
    margin: 100px 60px 80px 60px;
}

h3 {
    color: #333333; 
}

h4 {
    color: #333333;
}

h5 {
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    color: whitesmoke;
}

h6 {
    font-size: 10px;
    color: whitesmoke;
}

p {
    color: #333333;
    font-size: 14px;
    text-align: center;
    /*padding: 20px 30px;*/
    margin: auto;
    line-height: 1.75;
}


.icon {
    border: solid whitesmoke;
    border-width: 0 1px 1px 0;
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 92%;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.button-up {
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: solid whitesmoke;
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.arrow {
    border: solid whitesmoke;
    border-width: 0 1px 1px 0;
    padding: 8px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    display: inline-block;
    /*might need a help with this!*/
}



.container-content {
    width: 100%;
    height: 760vh;
    background: whitesmoke;
}

.container-about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 260px);
    padding: 80px 80px 0px 80px;
    grid-gap: 20px;
    height: auto;
    width: 75%;
    margin: auto; 
}

.photo {
    width: 32vh;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
}

.scroll-element {
    transform: rotate(90deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    left: 80%;
    top: 130%;
    /*sticky positioning isn't working here - parent element issue?)*/
}

.scroll {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.2em;
    padding: 12px;
}

.scroll-line {
    height: 1px;
    background: #333333;
    width: 200px;
} 




/*grid for project list*/
.project-wrapper {
    display: grid;
    background-color: rgba(135, 176, 185, 0.1);
    width: 25vw;
    grid-template-columns: 1fr 4fr;
    /*grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;*/
    margin: 180px 100px;
}

.title-project-list {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: Source Serif Pro;
    font-size: 36px;
    font-style: italic;
    margin: 25px;
    text-align: left;
}

span {
    font-family: Source Serif Pro;
    font-size: 36px;
    font-weight: bold;
    /*don't know if this is the right thing to use here - want to remove the italic but can't as has italic parent element)*/
}

  .number {
    font-family: Source Serif Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 1000;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: center;
    color: #439A86;
  }

  .project-title {
    font-family: Source Serif Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;    
    text-decoration: none;
    color: #000000;
}


.h5-list {
    font-family: 'Source Serif Pro', serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #333333;
    padding: 20px;
}

.line {
    height: 1px;
    background: #333333;
    grid-column-start: 1;
    grid-column-end: 3;
}



/*grid for skills section*/
.grid-container-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 60px 350px;
    grid-gap: 10px;
    background-color: rgba(135, 176, 185, 0.1);
    width: 85vw;
    margin: auto;
    padding: 20px;
  }

.skill-number {
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
}

.skill-heading, .skill-heading-2, .skill-heading-3, .skill-heading-4 {
    font-family: Source Serif Pro;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-description, .skill-description-2, .skill-description-3, .skill-description-4 {
    font-size: 14px;
    line-height: 1.75;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

.skill-heading-2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-heading-3 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-heading-4 {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-description-2 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

.skill-description-3 {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

.skill-description-4 {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

/*grid for project examples*/
.grid-container-projects {
    display: grid;
    /*grid-template-columns: [first] 600px [line2] auto [end];
    grid-template-rows: [row1-start] 150px [row1-end] 150px [third-line] 150px [last-line];*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(50, 50px);
    grid-row-gap: 10px;
    width: 60vw;
    margin: auto;
}

figure {
    width: auto;
    height: auto;
    background-color: rgba(135, 176, 185, 0.15);
}

.project-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
 }

 .project-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 17;
 }

 .project-3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 19;
    grid-row-end: 26; 
 }

 .project-4 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 28;
    grid-row-end: 35;
 }

 .project-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 37;
    grid-row-end: 44; 
 }

 /*grouped styling*/
.h3-project1, .h3-project2, .h3-project3, .h3-project4, .h3-project5 {
    font-family: Source Serif Pro;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

.h4-project1, .h4-project2, .h4-project3, .h4-project4, .h4-project5 {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
}

.figcaption-project1, .figcaption-project2, .figcaption-project3, .figcaption-project4, .figcaption-project5 {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

 .h3-project1 {
    grid-column-start: 4;
    grid-row-start: 1;
    padding: 10px;
 }

 .h4-project1 {
    grid-column-start: 4;
    grid-row-start: 2;
    padding: 10px;
 }

 .figcaption-project1 {
    grid-column-start: 4;
    grid-row-start: 3;
    padding: 10px;
 }

 .h3-project2 {
    grid-column-start: 1;
    grid-row-start: 10;
    padding: 10px;
 }

 .h4-project2 {
    grid-column-start: 1;
    grid-row-start: 11;
    padding: 10px;
 }

 .figcaption-project2 {
    grid-column-start: 1;
    grid-row-start: 12;
    padding: 10px;
 }

 .h3-project3 {
    grid-column-start: 4;
    grid-row-start: 19;
    padding: 10px;
 }

 .h4-project3 {
    grid-column-start: 4;
    grid-row-start: 20;
    padding: 10px;
 }

 .figcaption-project3 {
    grid-column-start: 4;
    grid-row-start: 21;
    padding: 10px;
 }

 .h3-project4 {
    grid-column-start: 1;
    grid-row-start: 28;
    padding: 10px;
 }

 .h4-project4 {
    grid-column-start: 1;
    grid-row-start: 29;
    padding: 10px;
 }

 .figcaption-project4 {
    grid-column-start: 1;
    grid-row-start: 30;
    padding: 10px;
 }

 .h3-project5 {
    grid-column-start: 4;
    grid-row-start: 37;
    padding: 10px;
 }

 .h4-project5 {
    grid-column-start: 4;
    grid-row-start: 38;
    padding: 10px;
 }

 .figcaption-project5 {
    grid-column-start: 4;
    grid-row-start: 39;
    padding: 10px;
 }