/*import partials*/
/* linking to external styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");
/* reset styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

main {
  background-image: url("./Artboard 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 2vh;
  width: 100%;
}

.title-input-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
}

h1 {
  font-size: 1rem;
  color: #F9EFD9;
  font-weight: 300;
  align-items: flex-start;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-top: 5vh;
  padding-bottom: 1vh;
}

/* TICKER */
.tcontainer {
  width: 100%;
  overflow: hidden;
}

.ticker-wrap {
  width: 100%;
  padding-left: 100%;
  border-top: 1.5px solid #F9EFD9;
  border-bottom: 1.5px solid #F9EFD9;
  color: #F9EFD9;
  padding-bottom: 4px;
  padding-top: 4px;
}

@keyframes ticker {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-timing-function: linear;
  animation: ticker 400s infinite;
}

.ticker-move:hover {
  animation-play-state: paused;
}

.ticker-item {
  display: inline-block;
  padding: 0 40px;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.02em;
  visibility: visible;
  white-space: nowrap;
  display: inline-block;
  margin: 0.15em 0;
}

.button__container {
  width: 65vw;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 576px) {
  .button__container {
    max-width: 425px;
  }
}

button {
  color: #F9EFD9;
  background-color: #040336;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.1;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 10px;
  padding: 7px 15px;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}
@media screen and (min-width: 576px) {
  button {
    padding: 8px 16px;
    font-size: 12px;
  }
}

button:hover {
  background-color: rgba(249, 239, 217, 0.2);
}

.input__text, .output__text {
  width: 50vw;
  height: 28vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(249, 239, 217, 0.2);
  border: none;
  font-size: 14px;
  color: #F9EFD9;
  letter-spacing: 0.05em;
  min-width: 250px;
}
@media screen and (min-width: 576px) {
  .input__text, .output__text {
    min-width: 280px;
    max-width: 425px;
    height: 30vh;
  }
}

.output__text {
  font-size: 16px;
}