@import "../../variables.module.scss";

.nav {
    min-width: 15%;
    background-color: $off-white;

    &.toggleNav {
      display: none;
    }
}

.search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: $base-spacing * 2;
    padding-top: $base-spacing * 4;
    gap: 20px;
    height: 100%;
  
    .smlLogo {
      padding: 10px;
      width: 50px;
      cursor: pointer;
    }
  }

  .inputBar {
    width: 30%;
    font-size: 15px;
    height: 25px;
    border: none;
    font-style: italic;
    padding: $base-spacing;
  }


  ul {
    width: 60vw;
  }
  .list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    padding: $base-spacing * 2;
  }

  .checkbox {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.12em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: " ";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $black;
    transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }



  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }