@import "../../variables.module.scss";

.nav {
    min-width: 15%;
    background-color: $off-white;
}

.search {
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: $base-spacing * 2;
    padding-top: $base-spacing * 4;
    gap: 20px;
    height: 100%;
  
    .smlLogo {
      padding: 10px;
      width: 50px;
      cursor: pointer;
    }
  }

  .inputBar {
    width: 99%;
    font-size: 15px;
    height: 25px;
    border: none;
    font-style: italic;
    padding: $base-spacing;
  }

  .list {
    list-style: none;
    font-size: 14px;
    padding: $base-spacing * 2;
  
  }