@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Geo:ital@0;1&family=Press+Start+2P&family=VT323&display=swap");

:root {
  --purple: rgb(66, 54, 118);
  --ltyellow: rgb(253, 255, 182);
  --black: #010102;
  --green: rgb(49, 255, 0);
  --azure: #f0ffff;
  --cyan: rgb(0, 239, 255);
  --pink: rgb(254, 40, 255);
  --red: rgb(255, 23, 0);
  --title-font-family: bd-geminis, sans-serif;
  --secondary-font-family: lores-12, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-style: normal;
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
}

body {
  background-color: var(--black);
}

.title-container {
  text-align: center;
  width: 510px;
  /* border-bottom: solid 1px #3a3a3c; */
  padding-top: 4vh;
}

.game-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.score-container {
  width: 330px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  border: 1px dashed var(--azure);

}
  @media screen and (min-width: 480px) {
    .score-container {
     width: 400px;
    }
}

.score-container .scores-0 {
  color: var(--green);
  width: 100%;
}

.score-container .scores-1,
.score-container .scores-2,
.score-container .scores-3 {
  color: var(--ltyellow);
  width: 33%;
}

.score-container .scores-4,
.score-container .scores-5,
.score-container .scores-6 {
  color: var(--azure);
  padding: 3px;
}

.alien-container {
  margin: 0 auto;
  width: 330px;
  height: 275px;
  border: 1px dashed var(--azure);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .alien-container {
    height: 320px;
    width: 400px;
   
  }
}

div {
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px;
  color: var(--azure);
}
  @media screen and (min-width: 480px) {
    div {
      font-size: 18px;
    }
}

.mother-ship {
  color: var(--pink);
  width: 100%;
  font-size: 20px;
}
  @media screen and (min-width: 480px) {
    .mother-ship {
      font-size: 26px;
    }
  }

.defence-ship {
  color: var(--cyan);
}

.attack-ship {
  color: var(--ltyellow);
}

.alien-container div:nth-child(5) {
  padding-left: 30px;
  width: 50%;
}

.alien-container div:nth-child(6) {
  width: 50%;
  padding-right: 30px;
}

@media screen and (max-width: 480px) {
  .alien-container div:nth-child(13) {
    padding-right: 30px;
    width: 50%;
  }
}


@media screen and (max-width: 480px) {
  .alien-container div:nth-child(14) {
    padding-right: 30px;
    width: 50%;
  }
}


/* OLD STYLING */
h1 {
  font-family: var(--title-font-family);
  color: var(--azure);
  letter-spacing: 0.05em;
  font-weight: 50;
  font-size: 26px;
}
h2 {
  color: var(--azure);
  letter-spacing: 0.1em;
  font-size: 14px;
  margin: 20px;
  font-weight: 100;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

button {
  font-family: var(--secondary-font-family);
  color: var(--black);
  background-color: var(--green);
  padding: 8px 14px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--azure);
}

.sunk {
  color: var(--black);
}

.hit {
  color: red;
}

/* MODAL STYLING */
dialog {
  padding: 1em;
  color: var(--azure);
  font-family: var(--secondary-font-family);
  background-color: var(--black);
  font-size: 32px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 80vh;
  letter-spacing: 2px;
  text-align: center;
  width: 100vw;
}
@media screen and (min-width: 480px) {
  dialog {
    height: 70vh;
    justify-content: space-between;
    font-size: 36px;
  }
}

.game-over {
  position: relative;
  top: -500px;
  height: 62vh;
  padding: 50px;
  color: var(--azure);
}

@media screen and (min-width: 480px) {
  .game-over {
    top: -530px;
    height: 70vh;
    font-size: 40px;
    justify-content: center;
    gap: 40px;
  }
}

h6 {
  font-size: 40px;
}

.oddcol {
  color: var(--cyan);
}

/* DYNAMIC STYLING */
.hidden {
  display: none;
}
