@import "../../variables.module.scss";

.header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #E0DEDC;
    z-index: 10;
}

.title {
    height: 10vh;
    width: 100%;
    display: flex;
    // margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Antonio', sans-serif;
    font-size: 56px;
    font-weight: 400;
    padding-right: $base-spacing * 24;
 
}

.logo {
    max-width: 175px;
}

.btnWrapper {
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: $base-spacing * 4;
    // padding-bottom: $base-spacing * 2;

}