/* SET UP COLOUR VARIABLES */
$orange: rgba(255, 121, 102, 1);
$green: #295f59;
$teal: #346b6d;
$claret: #a90b44;
$wine: #950b3e;
$lilac: #f7d1f7;
$lilac-2: #e0bbce;
$lemon: rgba(237, 238, 180, 1);
$navy: #082e45;
$raspberry: #841e62;
$off-white: #ffffff;
$black: #141414;

/* GLOBAL RESET*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: moby-monospace, monospace;
  font-weight: 400;
  font-style: normal;
  color: $off-white;
}

body {
  background-color: $navy;
  // width: 100vw;

  /* IMAGE ALTERNTATIVE BACKGROUND*/
  // background-image: url(/outline-mixed-01.svg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 10vh;
  width: 100%;
  // margin: 1rem 1rem 1rem 1rem;
  margin: 0 auto;
  padding-top: 40px;

  @media screen and (min-width: 375px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
}

header h1 {
  font-size: 20px; //1.75rem
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-align: center;
  // text-decoration-line: underline;
  // text-decoration-style: wavy;
  // text-decoration-color: $lemon;
  @media screen and (min-width: 414px) {
    font-size: 24px;
  }
  //media queries
  // ipad
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section p {
  //   font-family: "Amatic SC", cursive;
  font-weight: 300;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;

  //media queries
   //iphone 5/SE
   @media screen and (min-width: 375px) {
    font-size: 12px;
  }

    //iphone 6/7/8 plus
    @media screen and (min-width: 414px) {
      padding-left: 40px;
      padding-right: 40px;
    }

  // ipad
  @media screen and (min-width: 768px) {
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

header h1:hover {
  box-shadow: inset 0 -6px 0 rgba(237, 238, 180, 1);
  /*rgba(255, 121, 102, 0.9)*/
}

.instructions {
  display: flex;
}

p.no__underline {
  box-shadow: none;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  //mediaqueries
  // ipad
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.moves:hover {
  box-shadow: inset 0 -6px 0 #e0bbce;
}
.timer:hover {
  box-shadow: inset 0 -6px 0 #e0bbce;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.1;
  font-weight: 200;
  background-color: $orange;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 10px 14px;
  font-size: 9px;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  //media queries
  //iphone 5/SE
  @media screen and (min-width: 375px) {
    font-size: 9px;
    padding: 12px 16px;
  }

  //iphone 6/7/8 plus
  @media screen and (min-width: 414px) {
    padding: 16px 20px;
    font-size: 10px;
  }
  // ipad
  @media screen and (min-width: 768px) {
    padding: 18px 28px;
    font-size: 11px;
  }
}

button:hover {
  background-color: $lemon;
  color: $navy;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border: none;
  transition: 0.1s;
}

.grid__footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  //media queries

  //iphone 6/7/8 plus
  @media screen and (min-width: 414px) {
    margin-top: 30px;
  }

}

.game__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  @media screen and (min-width: 375px) {
    margin-top: 20px;
  }

}

.grid__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 8px;
  margin: 0px auto;
  margin-top: 10px;
  width: 275px;
  height: 300px;
  padding: 8px;
  background-color: $orange;

  //media queries
  //iphone 5/SE
  @media screen and (min-width: 375px) {
    width: 325px;
    height: 350px;
    grid-gap: 10px;
    padding: 10px;
  }

  //iphone 6/7/8 plus
  @media screen and (min-width: 414px) {
    width: 375px;
    height: 400px;
  }

  //ipad
  @media screen and (min-width: 550px) {
    width: 450px;
    height: 475px;
    padding: 15px;
    grid-gap: 15px;
  }

  // desktop
  @media screen and (min-width: 768px) {
    width: 475px;
    height: 500px;
    padding: 15px;
    grid-gap: 15px;
  }
}

.card {
  background-color: $lilac;
  border-radius: 4px;
  display: flex;
}

.card:hover {
  background-color: $lemon;
  transition: 0.5s;
  cursor: pointer;
}

// .card.isFlipped{
//   transform: rotateY(180deg);
// }

#central {
  display: flex;
  border-radius: 4px;
  background-color: $navy;
  cursor: default;
}



// TOGGLE CARD ELEMENTS HIDDEN/VISIBLE
// visibility: visible;
// visibility: hidden;

.hidden {
  display: none;
  // visibility: hidden;
}

.visible {
  visibility: visible;
}
