/* SET UP COLOUR VARIABLES */
/* GLOBAL RESET*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: moby-monospace, monospace;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

body {
  background-color: #082e45;
  /* IMAGE ALTERNTATIVE BACKGROUND*/
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 10vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
@media screen and (min-width: 375px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding-top: 30px;
  }
}

header h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media screen and (min-width: 414px) {
  header h1 {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  header h1 {
    font-size: 28px;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section p {
  font-weight: 300;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 375px) {
  section p {
    font-size: 12px;
  }
}
@media screen and (min-width: 414px) {
  section p {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  section p {
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

header h1:hover {
  box-shadow: inset 0 -6px 0 #edeeb4;
  /*rgba(255, 121, 102, 0.9)*/
}

.instructions {
  display: flex;
}

p.no__underline {
  box-shadow: none;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  p.no__underline {
    font-size: 12px;
  }
}

.moves:hover {
  box-shadow: inset 0 -6px 0 #e0bbce;
}

.timer:hover {
  box-shadow: inset 0 -6px 0 #e0bbce;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.1;
  font-weight: 200;
  background-color: #ff7966;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 10px 14px;
  font-size: 9px;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}
@media screen and (min-width: 375px) {
  button {
    font-size: 9px;
    padding: 12px 16px;
  }
}
@media screen and (min-width: 414px) {
  button {
    padding: 16px 20px;
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  button {
    padding: 18px 28px;
    font-size: 11px;
  }
}

button:hover {
  background-color: #edeeb4;
  color: #082e45;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border: none;
  transition: 0.1s;
}

.grid__footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
@media screen and (min-width: 414px) {
  .grid__footer {
    margin-top: 30px;
  }
}

.game__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
@media screen and (min-width: 375px) {
  .game__container {
    margin-top: 20px;
  }
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 8px;
  margin: 0px auto;
  margin-top: 10px;
  width: 275px;
  height: 300px;
  padding: 8px;
  background-color: #ff7966;
}
@media screen and (min-width: 375px) {
  .grid__container {
    width: 325px;
    height: 350px;
    grid-gap: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 414px) {
  .grid__container {
    width: 375px;
    height: 400px;
  }
}
@media screen and (min-width: 550px) {
  .grid__container {
    width: 450px;
    height: 475px;
    padding: 15px;
    grid-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .grid__container {
    width: 475px;
    height: 500px;
    padding: 15px;
    grid-gap: 15px;
  }
}

.card {
  background-color: #f7d1f7;
  border-radius: 4px;
  display: flex;
}

.card:hover {
  background-color: #edeeb4;
  transition: 0.5s;
  cursor: pointer;
}

#central {
  display: flex;
  border-radius: 4px;
  background-color: #082e45;
  cursor: default;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}