// -----------------------------------------------------------------------------
// This file contains all styles related to the components.
// -----------------------------------------------------------------------------

// logos
.logo-top {
    width: auto;
    height: 15vh;
    padding-top: 40px;
    }
    
    .logo-hero {
        width: auto;
        height: 50vh;
    }
    
    .logo-bkgrnd-fade {
        position: absolute;
        left: 55.9%;
        right: -37.01%;
        top: 211.04%;
        bottom: -217.89%;
        opacity: 0.2;
        /*z-index: ask the coaches about this ;*/
    }
    
    .logo-footer{
        width: 15vh;
        height: 15vh;
        padding-bottom: 20px;
    }

    // buttons 
    .icon {
        border: solid $color-white;
        border-width: 0 1px 1px 0;
        display: inline-block;
        left: 50%;
        position: absolute;
        top: 92%;
        padding: 8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }


    .button-up {
        height: 60px;
        width: 60px;
        background-color: transparent;
        border: solid $color-white;
        border-width: 1px;
        border-radius: 50%;
        // how to align an item centrally within another div use this
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrow {
        border: solid $color-white;
        border-width: 0 1px 1px 0;
        padding: 8px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        display: inline-block;
        /*might need a help with this!*/
    }
    

    // styling in SCSS for the SCROLL BAR THING
    .scroll-wrapper {
            display: flex;
            justify-content: flex-end;
            position: sticky;
            top: 0;
        }
        .scroll-element {
            writing-mode: vertical-rl;
            display: flex;
            align-items: center;
        }
        .scroll {
            text-transform: uppercase;
            font-size: $font-size-regular;
            font-weight: 400;
            color: $color-black;
            letter-spacing: 0.2em;
            padding: 12px;
        }
        .scroll-line {
            height: 120px;
            background: $color-black;
            width: 1px;
        } 


    // images
    .photo {
        width: 32vh;
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: center;
    }

    //project list styling
    .line {
        height: 1px;
        background: $color-black;
        grid-column-start: 1;
        grid-column-end: 3;
    }