// -----------------------------------------------------------------------------
// This file contains all styles related to the components.
// -----------------------------------------------------------------------------

// logos
.logo-top {
    width: auto;
    height: 15vh;
    padding-top: 40px;
    }
    
    .logo-hero {
        width: auto;
        height: 50vh;
    }
    
    .logo-bkgrnd-fade {
        position: absolute;
        left: 55.9%;
        right: -37.01%;
        top: 211.04%;
        bottom: -217.89%;
        opacity: 0.2;
        /*z-index: ask the coaches about this ;*/
    }
    
    .logo-footer{
        width: 15vh;
        height: 15vh;
        padding-bottom: 20px;
    }

    // buttons 
    .icon {
        border: solid whitesmoke;
        border-width: 0 1px 1px 0;
        display: inline-block;
        left: 50%;
        position: absolute;
        top: 92%;
        padding: 8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }


    .button-up {
        height: 60px;
        width: 60px;
        background-color: transparent;
        border: solid whitesmoke;
        border-width: 1px;
        border-radius: 50%;
        // how to align an item centrally within another div use this
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrow {
        border: solid whitesmoke;
        border-width: 0 1px 1px 0;
        padding: 8px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        display: inline-block;
        /*might need a help with this!*/
    }
    

    // scroll element
    .scroll-element {
        transform: rotate(90deg);
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        left: 80%;
        top: 130%;
        /*sticky positioning isn't working here - parent element issue?)*/
    }
    
    .scroll {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        letter-spacing: 0.2em;
        padding: 12px;
    }
    
    .scroll-line {
        height: 1px;
        background: #333333;
        width: 200px;
    } 


    // images
    .photo {
        width: 32vh;
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: center;
    }

    //project list styling
    .line {
        height: 1px;
        background: #333333;
        grid-column-start: 1;
        grid-column-end: 3;
    }