// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the site/application.
// -----------------------------------------------------------------------------

// header
.header {
    width: 100%;
    height: 100vh;
    background: $color-gradient;

    &__top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: .1em;
        width: 100%;
        height: 15vh;
        padding: 50px 40px;
        font-size: 14px;
    }

    &__container-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10vh;
        }
    
        &__nav {
            text-decoration: none;
            padding: 0px 40px;
            color: $color-white;
        }
        
}



// intro
.intro {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 260px);
    padding: 0px 80px 60px 80px;
    grid-gap: 20px;
    height: auto;
    width: 75%;
    margin: auto; 

    &__h1 {
        transform: rotate(-90deg);
        color: $color-black;
        font-family: $font-script;
        font-weight: 400;
        font-size: $font-size-header;
        font-style: italic;
        text-transform: none;
        margin: auto;
        padding: 0px;
    }

    &__strong { 
    font-weight: bold;
    font-family: $font-script;
    font-size: $font-size-header;
    }   

    &__p {
        color: $color-black;
        font-size: $font-size-regular;
        text-align: center;
        margin: auto;
        line-height: 1.75;
    }

    &__img {
        width: 32vh;
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: center;
    }

}


// main container
.main-content {
        width: 100%;
        height: 720vh;
        background: $color-white;
    }


// footer styling
.section-footer {
    width: 100%;
    height: 100vh;
    background: $color-gradient;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    &__social-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: .1em;
        height: 30vh;
        margin: 0px 15px;
        font-size: 24px;
    }

    &__socials {
        text-decoration: none;
        padding: 0px 40px;
        color: $color-white;
    }
}



// skills section
.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 60px 350px;
    grid-gap: 10px;
    background-color: $color-green;
    width: 85vw;
    margin: auto;
    padding: 20px;
    margin-bottom: 180px;

    &__p-heading {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 10px;
    }

    &__p-heading-2 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 10px;
    }

    &__p-heading-3 {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 10px;
    }

    &__p-heading-4 {
        grid-column-start: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 10px;
    }

    &__p-description {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 10px;
    }

    &__p-description-2 {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 10px;
    }

    &__p-description-3 {
        grid-column-start: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 10px;
    }

    &__p-description-4 {
        grid-column-start: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 10px;
    }
}



// project list section
.nav-project {
    display: grid;
    background-color: $color-green;
    //width: 100vw;
    width: 25vw;
    //grid-template-columns: 1fr 4fr 12fr;
    grid-template-columns: 1fr 4fr;
    //margin: 40px 0px 40px 100px;
    margin: 40px 100px;
}


// project example section
.section-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(50, 50px);
    grid-row-gap: 10px;
    width: 60vw;
    margin: auto;

    &__fig1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 8;
    }

    &__fig2 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: 17;
    }

    &__fig3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 19;
        grid-row-end: 26; 
    }

    &__fig4 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 28;
        grid-row-end: 35;
    }

    &__fig5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 37;
        grid-row-end: 44; 
    }
}


figure {
    width: auto;
    height: auto;
    background-color: $color-green;
}


 // project example font positioning within grid
 .section-projects {
     &__h3 {
        grid-column-start: 4;
        grid-row-start: 1;
        padding: 10px;
     }

     &__h4 {
        grid-column-start: 4;
        grid-row-start: 2;
        padding: 10px;
     }

     &__figcaption1 {
        grid-column-start: 4;
        grid-row-start: 3;
        padding: 10px;
     }

     &__h3-prj2 {
        grid-column-start: 1;
        grid-row-start: 10;
        padding: 10px;
     }

     &__h4-prj2 {
        grid-column-start: 1;
        grid-row-start: 11;
        padding: 10px;
     }

     &__figcaption2 {
        grid-column-start: 1;
        grid-row-start: 12;
        padding: 10px;
     }

     &__h3-prj3 {
        grid-column-start: 4;
        grid-row-start: 19;
        padding: 10px;
     }

     &__h4-prj3 {
        grid-column-start: 4;
        grid-row-start: 20;
        padding: 10px;
     }

     &__figcaption3 {
        grid-column-start: 4;
        grid-row-start: 21;
        padding: 10px;
     }

     &__h3-prj4 {
        grid-column-start: 1;
        grid-row-start: 28;
        padding: 10px;
     }

     &__h4-prj4 {
        grid-column-start: 1;
        grid-row-start: 29;
        padding: 10px;
     }

     &__figcaption4 {
        grid-column-start: 1;
        grid-row-start: 30;
        padding: 10px;
     }

     &__h3-prj5 {
        grid-column-start: 4;
        grid-row-start: 37;
        padding: 10px;
     }

     &__h4-prj5 {
        grid-column-start: 4;
        grid-row-start: 38;
        padding: 10px;
     }

     &__figcaption5 {
        grid-column-start: 4;
        grid-row-start: 39;
        padding: 10px;
     }
 }
 