// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the site/application.
// -----------------------------------------------------------------------------

.header {
    width: 100%;
    height: 100vh;
    background: $color-gradient;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    }


// nav 
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 100%;
    height: 15vh;
    padding: 50px 40px;
    font-size: 14px;
}

.nav {
    text-decoration: none;
    padding: 0px 40px;
    color: $color-white;
}


// about section
.container-about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 260px);
    padding: 0px 80px 60px 80px;
    grid-gap: 20px;
    height: auto;
    width: 75%;
    margin: auto; 
}


// main container
.main-content {
        width: 100%;
        height: 760vh;
        background: $color-white;
    }


// footer styling
.container-footer {
    width: 100%;
    height: 100vh;
    background: $color-gradient;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.social-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    height: 30vh;
    margin: 0px 15px;
    font-size: 24px;
}

.socials {
    text-decoration: none;
    padding: 0px 40px;
    color: $color-white;
}


// grid for skills section
.grid-container-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 60px 350px;
    grid-gap: 10px;
    background-color: $color-green;
    width: 85vw;
    margin: auto;
    padding: 20px;
}

.skill-heading, .skill-heading-2, .skill-heading-3, .skill-heading-4 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-description, .skill-description-2, .skill-description-3, .skill-description-4 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

.skill-heading-2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-heading-3 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-heading-4 {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px;
}

.skill-description-2 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

.skill-description-3 {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

.skill-description-4 {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}


// grid for project list section
.project-list {
    display: grid;
    background-color: $color-green;
    width: 25vw;
    grid-template-columns: 1fr 4fr;
    margin: 180px 100px;
}

// grid for project examples 
.grid-container-projects {
    display: grid;
    /*grid-template-columns: [first] 600px [line2] auto [end];
    grid-template-rows: [row1-start] 150px [row1-end] 150px [third-line] 150px [last-line];*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(50, 50px);
    grid-row-gap: 10px;
    width: 60vw;
    margin: auto;
}

figure {
    width: auto;
    height: auto;
    background-color: $color-green;
}

.project-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
 }

 .project-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 17;
 }

 .project-3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 19;
    grid-row-end: 26; 
 }

 .project-4 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 28;
    grid-row-end: 35;
 }

 .project-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 37;
    grid-row-end: 44; 
 }

 // project example font positioning within grid
 .h3-project1 {
    grid-column-start: 4;
    grid-row-start: 1;
    padding: 10px;
 }

 .h4-project1 {
    grid-column-start: 4;
    grid-row-start: 2;
    padding: 10px;
 }

 .figcaption-project1 {
    grid-column-start: 4;
    grid-row-start: 3;
    padding: 10px;
 }

 .h3-project2 {
    grid-column-start: 1;
    grid-row-start: 10;
    padding: 10px;
 }

 .h4-project2 {
    grid-column-start: 1;
    grid-row-start: 11;
    padding: 10px;
 }

 .figcaption-project2 {
    grid-column-start: 1;
    grid-row-start: 12;
    padding: 10px;
 }

 .h3-project3 {
    grid-column-start: 4;
    grid-row-start: 19;
    padding: 10px;
 }

 .h4-project3 {
    grid-column-start: 4;
    grid-row-start: 20;
    padding: 10px;
 }

 .figcaption-project3 {
    grid-column-start: 4;
    grid-row-start: 21;
    padding: 10px;
 }

 .h3-project4 {
    grid-column-start: 1;
    grid-row-start: 28;
    padding: 10px;
 }

 .h4-project4 {
    grid-column-start: 1;
    grid-row-start: 29;
    padding: 10px;
 }

 .figcaption-project4 {
    grid-column-start: 1;
    grid-row-start: 30;
    padding: 10px;
 }

 .h3-project5 {
    grid-column-start: 4;
    grid-row-start: 37;
    padding: 10px;
 }

 .h4-project5 {
    grid-column-start: 4;
    grid-row-start: 38;
    padding: 10px;
 }

 .figcaption-project5 {
    grid-column-start: 4;
    grid-row-start: 39;
    padding: 10px;
 }