//---------------------------------------------------------------------------
// This file contains all typography styling.
// -----------------------------------------------------------------------------

h1 {
    padding: 40px 20px;
    font-family: $font-script;
    font-size: 20px;
    letter-spacing: .1em;
    font-weight: 10;
    text-transform: lowercase;
    font-style: italic;
    color: $color-white;
 }
 
 .about {
    transform: rotate(-90deg);
    color: $color-black;
    font-family: $font-script;
    font-weight: 400;
    font-size: $font-size-header;
    text-transform: none;
    margin: auto;
    padding: 0px;
}

strong {
    font-weight: bold;
    font-family: $font-script;
    font-size: $font-size-header;
  }

h2 {
    font-family: $font-script;
    font-size: $font-size-title;
    font-weight: 300;
    font-style: italic;
    color: $color-black;
    margin: 100px 60px 80px 60px;
}

h3 {
    color: $color-black;
}

h4 {
    color: $color-black;
}

h5 {
    font-family: $font-script;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    color: $color-white;
}

h6 {
    font-size: 10px;
    color: $color-white;
    text-align: center;
    background-color: transparent;
}

.intro {
    color: $color-black;
    font-size: $font-size-regular;
    text-align: center;
    margin: auto;
    line-height: 1.75;
}


// styling for skills section
.skill-number {
    font-size: $font-size-header;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    color: $color-black;
    text-align: left;
}

.skill-heading, .skill-heading-2, .skill-heading-3, .skill-heading-4 {
    font-family: $font-script;
    font-size: $font-size-header;
    font-weight: 400;
    font-style: italic;
}

.skill-description, .skill-description-2, .skill-description-3, .skill-description-4 {
    font-size: $font-size-regular;
    line-height: 1.75;
}



// styling for project list
.title-project-list {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: $font-script;
    font-size: $font-size-header;
    font-style: italic;
    margin: 25px;
    text-align: left;
}

span {
    font-family: $font-script;
    font-size: $font-size-header;
    font-weight: bold;
    /*don't know if this is the right thing to use here - want to remove the italic but can't as has italic parent element)*/
}

.number {
    font-family: $font-script;
    font-size: $font-size-header;
    font-style: normal;
    font-weight: 1000;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: center;
    color: #439A86;
}

.project-title {
    font-family: $font-script;
    font-size: $font-size-header;
    font-style: normal;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;    
    text-decoration: none;
    color: $color-black;
}
// need to check what this is styling??
.h5-list {
    font-family: $font-script;
    font-size: $font-size-header;
    font-style: italic;
    font-weight: 300;
    color: $color-black;
    padding: 20px;
}


//styling for project examples
 .h3-project1, .h3-project2, .h3-project3, .h3-project4, .h3-project5 {
    font-family: $font-script;
    font-size: $font-size-header;
    font-weight: 500;
    font-style: italic;
}

.h4-project1, .h4-project2, .h4-project3, .h4-project4, .h4-project5 {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
}

.figcaption-project1, .figcaption-project2, .figcaption-project3, .figcaption-project4, .figcaption-project5 {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}