//---------------------------------------------------------------------------
// This file contains all typography styling.
// -----------------------------------------------------------------------------

// styling for header
.header {
    &__hero-header {
        padding: 40px 20px;
        font-family: $font-script;
        font-size: 20px;
        letter-spacing: .1em;
        font-weight: 10;
        text-transform: lowercase;
        font-style: italic;
        color: $color-white;
    }
}

// styling for titles
h2 {
    font-family: $font-script;
    font-size: $font-size-title;
    font-weight: 300;
    font-style: italic;
    color: $color-black;
    margin: 100px 60px 80px 60px;
}


// styling for footer section
.section-footer {
    &__h6 {
        font-size: 10px;
        color: $color-white;
        text-align: center;
        background-color: transparent;
    }   
    
    &__h5 {
        font-family: $font-script;
        font-size: 25px;
        font-style: italic;
        font-weight: 300;
        color: $color-white;
    }
}



// styling for skills section
.skills {
    &__p-number {
    font-size: $font-size-header;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    color: $color-black;
    text-align: left;
    }

    &__p-heading {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 400;
        font-style: italic;
    }

    &__p-heading-2 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 400;
        font-style: italic;
    }

    &__p-heading-3 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 400;
        font-style: italic;
    }

    &__p-heading-4 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 400;
        font-style: italic; 
    }

    &__p-description {
        font-family: $font-body;
        font-size: $font-size-regular;
        line-height: 1.75;
    }

    &__p-description-2 {
        font-family: $font-body;
        font-size: $font-size-regular;
        line-height: 1.75;
    }

    &__p-description-3 {
        font-family: $font-body;
        font-size: $font-size-regular;
        line-height: 1.75;
    }

    &__p-description-4 {
        font-family: $font-body;
        font-size: $font-size-regular;
        line-height: 1.75;
    }
}


// styling for project list fonts
.nav-project {
    &__title {
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: $font-script;
        font-size: $font-size-header;
        font-style: italic;
        margin: 25px;
        text-align: left; 
    }

    &__span {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: bold;
    }

    &__number {
        font-family: $font-script;
        font-size: $font-size-header;
        font-style: normal;
        font-weight: 1000;
        line-height: 90px;
        letter-spacing: 0em;
        text-align: center;
        color: #439A86;
    }

    &__heading {
        font-family: $font-script;
        font-size: $font-size-header;
        font-style: normal;
        font-weight: 300;
        line-height: 90px;
        letter-spacing: 0em;
        text-align: left;    
        text-decoration: none;
        color: $color-black;
    }
}




// styling for project examples elements- h3 / h4 / figcaption elements
.section-projects { 
    h3 {
        color: $color-black;
    }
    
    h4 {
        color: $color-black;
    }
    
    &__h3 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 500;
        font-style: italic;
    }
    &__h3-prj2 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 500;
        font-style: italic;
    }
    &__h3-prj3 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 500;
        font-style: italic;
    }
    &__h3-prj4 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 500;
        font-style: italic;
    }
    &__h3-prj5 {
        font-family: $font-script;
        font-size: $font-size-header;
        font-weight: 500;
        font-style: italic;
    }

    &__h4 {
        font-size: 20px;
        font-weight: 300;
        font-style: italic; 
    }

    &__h4-prj2 {
        font-size: 20px;
        font-weight: 300;
        font-style: italic; 
    }
    &__h4-prj3 {
        font-size: 20px;
        font-weight: 300;
        font-style: italic; 
    }
    &__h4-prj4 {
        font-size: 20px;
        font-weight: 300;
        font-style: italic; 
    }
    &__h4-prj5 {
        font-size: 20px;
        font-weight: 300;
        font-style: italic; 
    }

    &__figcaption {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;  
    }
    &__figcaption2 {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
    &__figcaption3 {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
    &__figcaption4 {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
    &__figcaption5 {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
}
